# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual Environments
venv/
env/
spark_env/
spark312_env/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/
*.ipynb_checkpoints

# ===============================
# Spark
# ===============================
spark-warehouse/
metastore_db/
*.crc
*.tmp
*.class

# ===============================
# JDBC Drivers
# ===============================
*.jar

# ===============================
# Generated Data
# ===============================
employee_logs.csv
*.parquet
*.json

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# IDE
# ===============================
.vscode/
.idea/